:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    /* max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center; */
    display: contents;
}

img {
    width: 100%;
}


/* a, a:link {
    color: purple;
    transition: all ease-out 200ms;
    text-decoration: underline !important;
    text-decoration-thickness: 3px !important;
} */

a:hover {
    color: #535bf2;
}
a.is-active {
    color: purple;
    text-decoration: none !important;
    text-decoration-thickness: 3px !important;
}


.full-width {
    width: 100vw;
    margin-left: calc((50vw - 50%) * -1);
}

.main-menu a:link {
    font-size: 20px;
    text-decoration: none !important;
    transition: all ease-out 200ms;
}

.main-menu:hover a.is-active {
    text-decoration: none !important;
}

.main-menu a.is-active:not([role="button"]),
.main-menu a.is-active:hover:not([role="button"]) {
    color: purple;
    text-decoration: none !important;
    border-bottom: 2px soid #535bf2 ;
}

.main-menu a.is-active:hover:not([role="button"]) {
    color: purple;
}

.main-menu a:not([role="button"])::after,
.main-menu a.is-active:not([role="button"])::after {
    display: block;
    content: "";
    width: 100%;
    /* height: 3px; */
    color: rgb(136, 0, 255);
    border-bottom: 3px solid transparent !important;
    transition: all ease-out 150ms;
}


.main-menu a:hover:not([role="button"])::after,
.main-menu a.is-active:not([role="button"])::after  {
    content: "";
    width: 100%;
    color: purple;
    border-bottom: 3px solid #535bf2 !important;
}

#header {
    background-image: linear-gradient(to right,#afaaff, #f7ccff) !important;

}


#header a:link {
    /* text-decoration: none; */
}



/* a.is-active {
    color: rgb(38, 0, 255);
    text-decoration: none;
} */

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hero-container > img {
    margin: 0;
}

.hero-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero-content .hero-title {
    font-size: 1.5rem;
}

.hero-content .hero-button {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
}
.hero-content .hero-button:hover {
    background-color: paleturquoise;
}

.hero-content .hero-cta {
    font-size: 2.5rem;
    font-weight: bold;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
  }
